name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    container: golang:1.17
    steps:
    - uses: actions/checkout@v2

    - name: Build backend
      run: |
        cd backend
        go build -v
    - name: Build frontend
      run: |
        cd frontend
        go build -v

  lint-test:
    runs-on: ubuntu-latest
    container: golang:1.17
    steps:
    - uses: actions/checkout@v2

    - name: lint
      run: |
        curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.42.0
        cd frontend
        $(go env GOPATH)/bin/golangci-lint run -D errcheck -D gosimple

    - name: Test
      run: |
        cd frontend
        go test -v
        
  life-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: run docker-compose
      run: |
        docker-compose up -d
    - name: curl localhost
      run: |
        curl localhost:8080
